# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__/
.env
include/
lib/
bin/
pyvenv.cfg

/.venv/


app/logic_functions/embedded_hashes.json
app/logic_functions/chunk_s3.json
app/script-tools/